@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Style+Script&display=swap');
.navbar input[type="checkbox"],
.navbar .hamburger-lines {
    display: none;
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.navbar {
    box-shadow: 0px 5px 10px 0px #706f6f;
    position: fixed;
    width: 100%;
    background: black;
    color: orange;
    opacity: 0.85;
    z-index: 100;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.menu-items {
    order: 2;
    display: flex;
}

.logo {
    order: 1;
    font-size: 1.8rem;
}

.menu-items li {
    list-style: none;
    margin-left: 2.5rem;
    font-size: 1rem;
    padding-top: 13px;
    font-family: "Courgette", cursive;
}

.navbar a {
    color: orange;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
    font-family: "Courgette", cursive;
}

.navbar a:hover {
    color: rgb(188, 18, 18);
}


.cart-link {
    position: relative;
    text-decoration: none;
    /* Remove underline */
    color: black;
    /* Change color as needed */
}

.cart-count {
    position: absolute;
    top: 5px;
    right: 150px;
    background-color: orange;
    color: black;
    border-radius: 50%;
    padding: 2px 3px;
    font-size: 14px;
    font-weight: bold;
    min-width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

@media (max-width: 768px) {
    .navbar {
        opacity: 0.95;
        height: 69px;
    }

    .fa {
        font-size: 2rem !important;
    }

    .navbar a:hover {
        color: rgb(0, 0, 0);
    }

    .cart-count {
        position: absolute;
        top: 410px;
        right: 100px;
        background-color: rgb(18, 18, 18);
        color: white;
        border-radius: 50%;
        padding: 2px 3px;
        font-size: 19px;
        font-weight: bold;
        min-width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines {
        display: block;
    }

    .navbar-container {
        display: block;
        position: fixed;
        height: 30px;
    }

    .navbar-container input[type="checkbox"] {
        position: absolute;
        display: block;
        height: 20px !important;
        width: 20px !important;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .navbar-container .hamburger-lines {
        display: block;
        height: 25px;
        width: 35px;
        position: absolute;
        top: 13px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #fcf8f8;
    }

    .navbar-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar .menu-items {
        padding-top: 100px;
        background: black;
        color: rgb(0,0,0,0.5);
        height: 130vh;
        width: 400px;
        max-width: 500px;
        transform: translate(-150%);
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 40px;
        transition: transform 0.5s ease-in-out;
        box-shadow: 5px 0px 10px 0px #aaa;
        overflow: scroll;
    }

    .navbar .menu-items li {
        margin-bottom: 1.8rem;
        font-size: 1rem;
        font-weight: 500;
        align-items: center;
    }

    .logo {
        position: absolute;
        top: 10px;
        margin-top: -7px;
        right: 15px;
        font-size: 2rem !important;
        font-family: "Courgette", cursive;
    }

    .navbar-container input[type="checkbox"]:checked~.menu-items {
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
        transform: rotate(45deg);
    }

    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
        transform: rotate(-45deg);
    }

}

@media (max-width: 500px) {
    .navbar-container input[type="checkbox"]:checked~.logo {
        display: none;
    }

    .fa {
        font-size: 2rem !important;
    }

    .cart-count {
        position: absolute;
        top: 290px;
        right: 90px;
        background-color: orange;
        color: white;
        border-radius: 50%;
        padding: 2px 3px;
        font-size: 19px;
        font-weight: bold;
        min-width: 30px;
        height: 30px;

    }

}
